:root {
  --primary: #eb7099;
  --secondary: #201b74;
}

@font-face {
  font-family: 'Rowdies Regular';
  src: url('assets/fonts/Rowdies-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('assets/fonts/Montserrat-Regular.ttf');
}

body,
p,
a,
ul,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: var(--primary);
  font-family: 'Rowdies Regular';
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
  margin: 20px;
}

p,
a,
li {
  color: ghostwhite;
}

li {
  list-style-type: none;
}

img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

body {
  background-color: var(--secondary);
  overflow-x: hidden;
  color: ghostwhite;
}

.button {
  background: none;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  text-transform: uppercase;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
  cursor: pointer;
  background: var(--primary);
  color: #333;
}

.button:hover > a {
  color: #333;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: ghostwhite;
  font-size: 1.2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

header {
  padding: 1em;
  text-align: center;
}

header span {
  font-size: 2em;
}

.site-nav {
  margin: 0 1em;
}

.site-nav ul {
  grid-column: 1/6;
  border-bottom: 2px dashed var(--primary);
}

.site-nav li {
  margin: 1em;
}

.site-nav li:hover {
  border-bottom: 2px solid var(--primary);
}

.welcome {
  padding: 0em 1em 1em 1em;
}

.welcome-text {
  grid-column: 1/6;
}

.welcome-img {
  grid-column: 6/9;
}

.welcome-img img {
  width: 150%;
}

.welcome-text a {
  width: 10px;
}

.about,
.helping {
  padding: 1em 1em 8em 1em;
  background: linear-gradient(var(--secondary) 60%, var(--primary));
}

.about-text *,
.help-text * {
  grid-column: 1/9;
  text-align: center;
}

.help-text button {
  margin: 1em;
}

.ways li {
  margin: 1em;
}

.achievements,
.partners,
.contact {
  background: linear-gradient(var(--secondary) 60%, var(--primary));
  padding: 1em;
}

.achievements h2 {
  margin-bottom: 0;
}

.achievements-content a {
  grid-column: 1/9;
  margin: 2em;
  display: flex;
}

.achievements-content a * {
  max-width: 40%;
  align-self: center;
  margin: 0 1em;
}

.achievements label {
  font-weight: 700;
  font-size: 1.2em;
}

.supporters {
  margin: 2em 0;
}

.supporters img {
  max-width: 50%;
  margin: 1em auto;
}

.supporters a {
  padding: 1em;
  background: rgba(226, 32, 152, 0.2);
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.supporters a:nth-child(1) {
  grid-row: 1;
  grid-column: 1/5;
}

.supporters a:nth-child(2) {
  grid-row: 1;
  grid-column: 5/9;
}

.supporters a:nth-child(3) {
  grid-row: 2;
  grid-column: 3/7;
}

.partners p {
  margin: 1em;
}

.feature {
  max-width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.contact-btn {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  width: 100%;
}

.contact form {
  width: 80%;
  max-width: 400px;
  margin: 1em auto;
  text-align: center;
}

.contact input,
.contact textarea {
  width: 100%;
  margin: 1em 0;
}

footer {
  padding: 2em 1em;
}

footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}

footer .social i {
  font-size: 1.5em;
  margin: 0.4em;
}

footer .social a {
  margin: 0.5em;
}

/* Media queries */
@media screen and (min-width: 620px) {
  .welcome-text {
    grid-column: 1/5;
  }

  .welcome-img {
    grid-column: 5/9;
  }

  .welcome-img img {
    width: 100%;
  }

  .achievements-content a {
    grid-column: span 4;
    display: block;
  }

  .achievements-content a:last-child {
    grid-column: 3/7;
  }

  .achievements-content a * {
    margin: 1em;
    max-width: 60%;
  }

  .achievements-content label {
    text-align: center;
  }

  .partners {
    padding: 2em 4em;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .grid {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .leading {
    margin: 1em 0;
  }

  .site-nav ul {
    display: flex;
    grid-column: 1/4;
    align-self: center;
  }

  .welcome-text {
    align-self: center;
  }

  .achievements-content a * {
    display: flex;
  }

  .supporters a * {
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  .welcome,
  .achievements,
  .partners,
  .contact,
  .about {
    padding: 3em 1em;
  }

  .achievements-content a {
    grid-column: 1/9;
    margin: 2em;
  }

  .achievements-content a:nth-child(1) {
    grid-column: 1/3;
  }

  .achievements-content a:nth-child(2) {
    grid-column: 4/6;
  }

  .achievements-content a:nth-child(3) {
    grid-column: 7/9;
  }

  .achievements-content a * {
    max-width: 100%;
    align-self: center;
    margin: 2em 0;
  }

  .achievements-content label {
    font-size: 1.5em;
  }

  .supporters a:nth-child(1) {
    grid-row: 1;
    grid-column: 1/3;
  }

  .supporters a:nth-child(2) {
    grid-row: 1;
    grid-column: 4/6;
  }

  .supporters a:nth-child(3) {
    grid-row: 1;
    grid-column: 7/9;
  }

  .supporters a * {
    max-width: 100%;
  }

  footer {
    padding: 3em 1em;
  }

  footer .social i {
    font-size: 3em;
  }
}
